.c-indicator--warning {
  --bg: var(--indicator-warning-bg);
  --color: var(--indicator-warning-color);
}
.c-indicator {
  --bg: var(--indicator-bg);
  --color: var(--indicator-color);
  padding: var(--su-1);
  text-align: center;
  line-height: 1;
  font-size: var(--fs-s);
  border-radius: var(--radius);
  display: inline-block;
  background: var(--bg);
  color: var(--color);
  min-width: var(--su-2);
}

svg.bi.bi-box-arrow-up-right {
  margin-left: 5px;
}

@media (max-width:575px) {
  div#my-balance {
      display: none!important
  }
}

button#wallet-connect-2 {
  --bg: var(--button-secondary-bg);
  --bg-hover: var(--button-secondary-bg-hover);
  --color: var(--button-secondary-color);
  --color-hover: var(--button-secondary-color-hover);
  --bg-inverted: var(--button-secondary-inverted-bg);
  --bg-inverted-hover: var(--button-secondary-inverted-bg-hover);
  --color-inverted: var(--button-secondary-inverted-color);
  --color-inverted-hover: var(--button-secondary-inverted-color-hover);
}

button#own-address {
  max-width: 140px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 160px;
  display: block;
  overflow: hidden;
  color: var(--body-color) !important;
}

.own-address,button#options-btn,button#options-btn-2,button#deposit {
  transition: border-color .2s ease-in-out;
  color: var(--clr-text-1)
}


.own-address {
  display: flex
}

button#WalletConnect:hover,button#myAlgoWallet:hover {
  color: var(--clr-text-5)!important
}

button#WalletConnect:hover,button#myAlgoWallet:hover,input#candidatea:hover,input#candidateb:hover {
  font-weight: 600;
  box-shadow: 0 4px 10px rgb(0 0 0/10%);
  border-color: var(--primary-color-lightest-3);
  border-width: 1px;
  background: var(--btn-bg-2)!important;
  border-style: solid
}

@media (max-width:330px) {
  button#check,button#delete{
      font-size: 12px
  }

  svg.bi.bi-wallet {
      display: none
  }

  .count__title-2 {
      margin-left: 0!important
  }
}

.dropdown__content {
  right: -3px;
  grid-gap: 0!important;
  box-shadow: 0 8px 28px #0c0e14
}

a#algoexplorer {
  padding: 8px 8px 8px 6px;
  display: flex
}

.dropdown__content {
  border: 1px solid;
  border-color: var(--border);
  box-shadow: rgb(0 0 0/12%)0 5px 10px 0
}

.dropdown:focus .dropdown__content,.dropdown:focus-within .dropdown__content,.dropdown:hover .dropdown__content {
  display: flex
}

.own-balance {
  border-right: solid;
  padding-right: 16px;
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: var(--clr-text-1)
}


.actions, .own-balance {
  grid-gap: 0;
  grid-gap: 0;
  gap: 0;
  display: flex;
  height: 40px;
  align-items: center;
  align-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
}


div#wallet-connected {
  border: 1px solid;
  border-radius: 6px;
  border-color: var(--border)
}

.own-address,.own-balance {
  font-weight: 500;
  font-size: 14px
}

.own-balance {
  padding-left: .6rem
}


.own-address {
  background-color: #26273000;
  height: 40px;
  align-items: center;
  grid-gap: 12px;
  gap: 12px;
  border: 0;
  border-radius: 4px;
  font-family: inherit;
  color: #fff
}

.own-balance .currency svg {
  display: block;
  width: 12px;
  height: 12px
}

svg.bi.bi-wallet {
  margin-right: 10px;
}


button#AlgoSigner, button#WalletConnect, button#myAlgoWallet, input#candidatea, input#candidateb {
  border: 1px solid #2e2f36;
  border: var(--border-2);
  background-color: var(--clr-bg);
  color: var(--clr-text-7);
  font-weight: 600;
  transition: border-color .2s ease-in-out;
  border-radius: 8px;
  margin-bottom: 0.5rem;
  border-width: 1px;
  border-style: solid;
  height: 50px;
  font-size: 16px;
}



div[class*=pipeline-select]>div:hover {
  color: #1c1ce1!important;
  border: 1px solid #1c1ce1!important;
  box-shadow: 4px 4px 0 0#d2d2f9!important;
  background-color: #fff
}

.pipeline-select {
  border-radius: 4px!important;
  box-shadow: none!important;
  border: 1px solid #ccc!important;
  position: relative!important;
  margin-bottom: .5rem
}


@media screen and (max-width:800px) {
  .grid.footer-columns {
      grid-template-columns: 1fr 1fr
  }

  a.footer-columns {
      display: block;
      padding-top: 10px;
      padding-bottom: 10px
  }
}

@media (max-width:410px) {
  .logo {
      max-height: 40%
  }

  .logo-svg,svg.bi.bi-file-bar-graph,svg.bi.bi-trash {
      display: none
  }

  .count__title-3 {
      margin-left: 0!important
  }
}




.actions, .own-balance {
  grid-gap: 0;
  grid-gap: 0;
  gap: 0;
  display: flex;
  align-items: center;
  max-width: 250px;
}

div#wallet-connected {
  max-width: fit-content;
}

.dropdown__content.dropdown__content-wallet {
  align-items: start;
  text-align: left;
}

a#algoexplorer,button#disconnect-me,button.btn.btn--transparent {
  padding: 8px 8px 8px 6px;
  display: flex;
}

.dropdown__content-wallet {
  position: absolute;
  min-width: 260px;
  display: none;
  flex-direction: column;
  gap: 8px;
  padding: 8px;
  background: var(--algocloud-dropdown-bg) !important;
  border-radius: 4px;
  z-index: 10;
}

.own-address {
  padding: 0 8px 0 16px
}

@media only screen and (min-width:480px) {
  .header {
      padding: 0 15px
  }
}

.actions,.own-balance {
  grid-gap: 0;
  gap: 0;
  display: flex;
  align-items: center
}

.actions {
  background-color: var(--clr-bg-lighter);
  border-radius: 6px;
  padding: 3px
}

.btn--transparent:hover {
  background-color: var(--wallet-1)
}


.address-field,.vote-container {
  display: flex;
  flex-direction: column
}

.address-field label,.calculated-amount .amount {
  font-weight: 600;
  text-transform: capitalize;
  color: #fbfbff
}


.btn--connect-wallet {
  padding: 13px 20px;
  font-weight: 700;
  color: var(--primary-color-lightest);
  background: rgba(46,147,247,.08);
  border-radius: 4px
}

