.menu-nav {
  background-color: rgba(255,255,255,0.05);
  color: #a2a3b7;
}


.menu-li.active a {
  color: white;
  background-color: #23325D;
}

a.algocloud-navbar-brand{
  color:#F8F8F8!important;
}

.bg-box {
  background:#1E2D58;
  background: rgba(255,255,255,.05);
  box-shadow: 0px 0px 50px 14px rgb(18 28 53 / 25%);
}

.menu-toggle-button {
  color: rgba(255,255,255,.3) !important
}

.i18n-select select {
  background: none !important;
  color: #ffffff !important;
  border-color: rgba(255,255,255,.5) !important;
}

.i18n-select select option {
  background: #1D294F !important;
}

.table .thead th {
  background-color: var(--primary);
  color: white;
}

.menu-nav {
  background-color: rgba(29, 27, 27, 0.85);
  color: #a2a3b7;
}

.menu-logo a {
  color: white;
}

.menu-li a {
  color: #a2a3b7;
}

.menu-li a .icon,
.menu-li.active a .icon,
.menu-li:hover a,
.menu-li:hover a .icon {
  color: white;
}

.menu-li.active a {
  color: white;
  background-color: #23325D;
}

a.algocloud-navbar-brand{
  color:#F8F8F8!important;
}

.bg-box {
  background:#1E2D58;
  background: rgba(255,255,255,.05);
  box-shadow: 0px 0px 50px 14px rgb(18 28 53 / 25%);
}

.menu-toggle-button {
  color: rgba(255,255,255,.3) !important
}

.i18n-select select {
  background: none!important;
  color: #ffffff!important;
  border-color: rgba(255,255,255,.5) !important;
}

.i18n-select select option {
  background: #1D294F!important;
}

.content .breadcrumb {
  background: none!important;
  padding: 0px;
}

.content a {
  color: rgba(255,255,255, 1)!important;
}

.content .breadcrumb-item.active li a {
  color: rgba(255,255,255,1)!important;
}

h1 {
  color: #fff!important;
}

.btn-primary {
  background: rgba(255,255,255,.1)!important;
  border: none;
}

.btn-light {
  border: 1px #fff solid;
  background: none;
  color: #fff;
}

.btn-light:hover {
  color: #ffffff!important;
  background-color: rgba(255,255,255,.1)!important;
  border-color: #dae0e5!important;
}

.btn-link {
  color: #56C3BB;
}

.table .thead th {
  background: rgba(255,255,255,.1);
  border: none;
  color: #fff;
}

.table th, .table td {
  background: none;
  color: #fff;
  border: none;
  border-top:1px #2A3144 solid;
  vertical-align: middle;
}

.filter-preview {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
  color: #fff;
}

.badge-success {
  background-color: #56C3BB;
  padding: 5px;
  color: #23325D;
}

.user-dropdown-text {
  color: #fff;
}

.user-dropdown-text {
  color: #fff;
}

.user-dropdown-text-tenant {
  color: #fff !important;
}

.eYAYOD .btn {
  margin-right: 8px;
}

.td-actions .btn-link {
  color: #56C3BB;
}

.hfxUdS {
  background: none;
  border: none!important;
  padding: 0px;
  color: #ffffff;
}

.btn.disabled, .btn:disabled {
  opacity: .65;
  border: 1px rgba(255,255,255,.4) solid;
  color: #fff;
}

.btn-outline-secondary {
  color: #6c757d;
  border-color: #6c757d;
}